# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# Variables de entorno y secretos
.env
.env.*

# Editores y sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db
